PORT=3010
MONGODB_URI='mongodb://localhost/billetera-digital-db'
NATS_SERVERS="nats://localhost:4222"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_EMAIL="your_email@gmail.com"
SMTP_PASSWORD="app pass 123 123"